/*PAGINA CLIENTES*/

.clientes{
    p{
        text-align: center;
        font-size: 2.8rem;
        margin: 5rem auto;
    }
    .clientes__imagen{
        width: 50%;
        margin: 0 auto;

        img {
            display: block;
            margin: auto auto;
            width: 100%;
        }
    }
}
    .clientes__contenedor{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto;
        

        .clientes__contenido{
            width: 100%;
            padding: 1rem;
            position: relative;
            overflow: hidden;

            .TituloClub{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                font-size: 4rem;
                border-radius: 1rem;
                color: white;
                background-color: black;
                padding: 1rem;
                z-index: 2;
                
            }
            
             img{
                width: 100%;
                display: block;
                transition: transform 0.5s;
            }
            
            
        }
        .clientes__contenido:hover  .TituloClub{
            transform: translate(-50%, -50%) scale(1);
            cursor: pointer;
            transition: all 1s;
        }
        .clientes__contenido:before, 
        .clientes__contenido:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            top: 0rem;
            left: 0rem;
            opacity: 0.6;
            transition: all 1s;
            border: solid 1rem white;
        }
        .clientes__contenido:before{
           transform: translateY(-100%);
           z-index: 1;
        }
        .clientes__contenido:after{
            transform: translateY(100%);
         }
        
        .clientes__contenido:hover:before{
            transform: translateY(-60%);
        }
        .clientes__contenido:hover:after{
            transform: translateY(60%);
        }
        .clientes__contenido:hover img{
            transform: scale(1.1);
        }
    
    }

    @media(min-width: 375px) and (max-width: 767px){
        .clientes__contenedor{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }


@media(max-width: 1400px) {
    .clientes{
        p{

            font-size: 2.3rem;
            margin: 1rem auto 2rem;
            padding: 2rem;
            line-height: 4rem;
        }
    }
}
@media(min-width: 768px) and (max-width: 1024px) {
    .clientes{
        p{

            font-size: 2.3rem;
            margin: 1rem auto 2rem;
            padding: 2rem;
            line-height: 4rem;
        }
        .clientes__imagen{
            width: 70%;
            margin: 0 auto;
    
            img {
                display: block;
                margin: auto auto;
                width: 100%;
            }
        }
    }
}
@media(min-width: 375px) and (max-width: 767px){
    .clientes{
        p{

            font-size: 1.8rem;
            margin: 0 auto 2rem;
            padding: 2rem;
            line-height: 3rem;
        }
        .clientes__imagen{
            width: 90%;
            margin: 3rem auto 0rem;
    
            img {
                display: block;
                margin: auto auto;
                width: 100%;
            }
        }
    }
}
