@import "Variables";

/*PAGINA NOSOTROS*/
.nosotrosInfo{
    p{
        text-align: center;
        line-height: 3rem;

        padding: 3rem;
    }
    .nosotrosInfo__imagenes{
        display: flex;
        justify-content: space-evenly;

    }
    .nosotrosInfo__imagenes__imagen{
        margin: 0 auto;

        img{
            width: 90%;
            display: block;
            margin: $contenidoCentrado;
        }
    }
    .nosotrosInfo__personal__imagen{
        img{
            display: block;
            width: 40%;
            margin: $contenidoCentrado;
        }
    }
    .nosotrosInfo__personal__card{
        display: flex;
        justify-content: center;
        .nosotros__personal__card--empleado{
            width: 30%;
            margin: 2rem;
            border-radius: 1rem;
            -webkit-box-shadow: 0px 0px 5px 0.3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 5px 0.3px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 5px 0.3px rgba(0, 0, 0, 0.75);
            
            display: flex;
            transition: transform 0.5s;
            span{
                font-size: 2.5rem;
                font-weight: bold;
            }
             img{
                width: 50%;
                border-radius: 1rem;
            }
        }
        .nosotros__personal__card--empleado:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}
@media(min-width: 1024px) and (max-width: 1400px){
    .nosotrosInfo{
        
    .nosotrosInfo__personal__card{
        width: 100%;
        height: 25rem;
        margin: 0 auto;
        
        .nosotros__personal__card--empleado{
            width: 100%;
            margin: 1rem;
            p{
                margin: 0 auto;
           
            span{
                font-size: 2.2rem;
                font-weight: bold;
            }
             img{
                width: 45%;
            }
        }
        }
    }

}
}
@media(min-width: 768px) and (max-width: 1024px) {
    .nosotrosInfo{
        .nosotrosInfo__personal__imagen{
            img{
                width: 85%;
            }
        }
   
    .nosotrosInfo__personal__card{
        display: grid;
        grid-template-columns: 1fr;
        
        .nosotros__personal__card--empleado{
            width: 90%;
            margin: 2rem auto;
             img{
                width: 45%;
            }
        }
    }

}
}

@media(min-width: 375px) and (max-width: 767px){
    .nosotrosInfo{
        .nosotrosInfo__imagenes{
            display: grid;
            grid-template-columns: 1fr;
    
        }
        .nosotrosInfo__imagenes__imagen{
            margin: 1rem auto;
            padding: 1rem 2rem;
        }
        .nosotrosInfo__personal__imagen{
            img{
                width: 80%;
            }
        }
        .nosotrosInfo__personal__card{
            display: grid;
            grid-template-columns: 1fr;
            
            .nosotros__personal__card--empleado{
                width: 90%;
                height: 19rem;
                margin: 1rem auto;
                p{
                    margin: auto auto;
                    font-size: 1.5rem;
                    span{
                        font-size: 1.8rem;
                 img{
                    width: 45%;
                }
            }
            }
            }
        }
    }
}

