/*LISTAS INFERIOR*/
footer{
    color: $colorNegro;
            padding: 1rem;
            text-align: center;
            margin: 10rem auto 0 ;
            p{
                margin: 0 auto;
                font-size: 1.5rem;
            }

.listasInferior{
    color: $colorNegro;
            display: flex;
            justify-content: space-evenly;
            line-height: 1.5;
            ol{
                margin-top: 8rem;
                li{
                    line-height: 1.9;
                }
            }
            li{
                list-style: none;
            }
            ul{
                margin-top: 8rem;
            }
            a{
                color: $colorNegro;
            text-decoration: none;
            line-height: 1.9;
            }
            a:hover {
                color: $colorPrincipal;
            }
           
        }
}

@media(min-width: 768px) and (max-width: 1024px) {
    
    .listasInferior {
        bottom: 5rem;
        margin: $contenidoCentrado;

         li{
            width: 20rem;
        }
        p{
          margin-top: 4rem;  
        }
    }
    }
    @media(min-width: 375px) and (max-width: 767px){
        footer{
            
        .listasInferior{
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 5rem;
        }
        p{
            bottom: 5rem;
        }
    }
        
    }


