
  /*MENU DESPLEGABLE*/

  #menu-desplegable{
    display: none;
}
header img{
    display: none;
}
.desplegable{
    display: none;
}
header{
.tituloMovil{
        display: none;
    }
}


@media(min-width: 375px) and (max-width: 767px){
    header{
    .tituloMovil {
        display: inline;
        position: absolute;
        top: 0%;
        left: 0%;
         h1{
            font-weight: bolder;
            font-size: 2.2rem;
        }
    }
}

    .navegacion{
        display: flex;
         height: 9rem;

        .logo{
            display: none;
        }
    }
    header  img{
        width: 7%;
        display: block;
        margin: 7.5% 86%;
        top: -3rem;
    }
   label img:hover{
       cursor: pointer;
       transform: scale(1.1);
   }
   .navegacion__link {
       position: absolute;
       left: -110%;
       top: 25%;
       background-color: rgba(0, 0, 0, 0.93);
       height: 50rem;
       padding: 50rem 10rem;
       border: none;
       transition: 0.8s;

     a{
       color: white;
       font-size: 2.5rem;
       font-weight: 700;
       margin: 0 auto;
       padding: 3rem 11rem ;
}
}
   .desplegable{
       display: block;
   }
      #menu-desplegable:checked ~ .navegacion__link{
       left: 0%;
   }
    
}