
  /*MENU DESPLEGABLE*/

  #menu-desplegable{
    display: none;
}
header img{
    display: none;
}
.desplegable{
    display: none;
}

@media(min-width: 375px) and (max-width: 767px){

    header  img{
        width: 15%;
        display: block;
        margin: 1rem auto;
    }
   label img:hover{
       cursor: pointer;
       transform: scale(1.1);
   }
   .navegacion__link {
       position: absolute;
       left: -110%;
       top: 25%;
       background-color: rgba(0, 0, 0, 0.93);
       height: 50rem;
       padding: 50rem 10rem;
       border: none;
       transition: 0.8s;

     a{
       color: white;
       font-size: 2.5rem;
       font-weight: 700;
       text-align: center;
       padding: 3rem 11rem ;
}
}
   .desplegable{
       display: block;
   }
      #menu-desplegable:checked ~ .navegacion__link{
       left: 0%;
   }
    
}