


$colorPrincipal:#ff6600;
$colorSecundario:#E59866;
$colorNaranjaClaro:#FAD7A0;
$colorBlanco:white;
$colorNegro: black;
$colorGrisClaro:#F6F5F5;
$fuentePrincipal:'Roboto', sans-serif;


$contenidoCentrado:0 auto;

/*MAPA*/
$titulo: (
    "XL": 4, 
    "L": 3.5, 
    "parrafo": 1.8
    );
    